button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10px;
  height: 70px;
  width: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #0846a8;
  text-align: center;
  transition: all 0.2s;
  font-weight: bold;
}

button:hover {
  background-color: #0846a8;
}
